<header>
	<a href="/" class="board-header">
		<h1>Message Board ✉️</h1>
	</a>
	<a
		href="https://github.com/Haminimi"
		aria-label="GitHub"
		class="git-hub-link"
		><i aria-hidden="true" class="devicon-github-original"></i
	></a>
</header>
