<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add a message</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
		/>
		<link rel="icon" href="envelope.png" />
	</head>
	<body>
		<main>
			<%- include('_header') %>
			<div class="content">
				<form action="/new" method="post" class="message-form">
					<label for="name">Name</label>
					<input
						type="text"
						id="name"
						name="user"
						value="<%= locals.user %>"
					/>
					<label for="message">Message </label>
					<input
						type="text"
						id="message"
						name="message"
						value="<%= locals.message %>"
					/>
					<button type="submit" class="submit-button">Submit</button>
				</form>
			</div>
		</main>
	</body>
</html>
